---
layout: default
---

<div class="project-page">


    <h1>{{ page.title }}</h1>

    <!-- TOP SECTION: video + info side by side -->
    <div class="project-hero">

        <div class="project-media">
            <video controls muted loop playsinline poster="{{ page.thumbnail | relative_url }}">
                <source src="{{ page.video | relative_url }}" type="video/mp4">
            </video>
        </div>

        <div class="project-meta">

            <p>
                {% if page.platforms %}<strong>Platforms:</strong>
                {{ project.platforms }}<br>{% endif %}

                {% if page.tools %}<strong>Engine and tools:</strong>
                {{ project.tools }}<br>{% endif %}

                {% if page.role %}<strong>Role:</strong>
                {{ project.role }}<br>{% endif %}

                {% if page.duration %}<strong>Time spent on project:</strong>
                {{ project.duration }}<br>{% endif %}
            </p>

            {% if page.technologies %}
            <div class="tech-tags">
                {% for tech in page.technologies %}
                <span class="chip">{{ tech }}</span>
                {% endfor %}
            </div>
            {% endif %}

            <a href="{{ page.link }}" class="download-button">Download here</a>

        </div>

    </div>

    <!-- FULL CONTENT BELOW -->
    <div class="project-content">
        {{ content }}
    </div>

</div>